/*---------------------------
GLOBAL/GENERIC STYLING STARTS
-----------------------------*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*Landing Page background color*/
body {
  background-color: #d9dcd6;
}

/*Global paragraph styling*/
p {
  font-size: 16px;
}

/*Generic Styling to float img left / right*/
.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}
/*---------------------------
GLOBAL/GENERIC STYLING ENDS
---------------------------*/

/*-------------------
HEADER STYLING STARTS
---------------------*/
.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

/*Horiseon*/
.header h1 {
  display: inline-block;
  font-size: 48px;
}

/*___"seo"__*/
.header h1 .seo {
  color: #d9dcd6;
}

/*All header navigation buttons Styling*/
.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

/*Anchor styling*/
a {
  color: #ffffff;
  text-decoration: none;
}

/*Unordered list - remove markers*/
.header nav ul {
  list-style-type: none;
}

/*Nav button positioning*/
.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}
/*-----------------
HEADER STYLING ENDS
-----------------*/

/*------------------------------
HERO/JUMBOTRON STYLING START/END
------------------------------*/
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

/*--------------------------------------------------
MAIN PAGE CONTENT STYLING - SEO - ORM - SMM - STARTS
--------------------------------------------------*/
.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/*Content section styling and positioning*/
.content-article {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/*Content section Img styling*/
.content-article img {
  max-height: 200px;
}

/*Content Section Header Styling*/
.content-article h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
/*------------------------------------------------
MAIN PAGE CONTENT STYLING - SEO - ORM - SMM - ENDS
------------------------------------------------*/

/*-------------------------------
BENEFITS SECTION STYLING - STARTS
-------------------------------*/
.benefits {
  margin-right: 20px;
  padding: 30px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

/*Benefits section text styling*/
.benefit-article {
  margin-bottom: 32px;
  color: #ffffff;
  text-align: center;
}

/*Benefits section Header text Styling*/
.benefit-article h3 {
  margin-bottom: 10px;
  text-align: center;
}

/*Benefits section image styling*/
.benefit-article img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
/*---------------------------
BENEFITS STYLING SECTION ENDS
---------------------------*/

/*-------------------
FOOTER STYLING STARTS
-------------------*/
.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

/*Made with ♥ by Horeseon*/
.footer h2 {
  font-size: 20px;
}
/*-----------------
FOOTER STYLING ENDS
-----------------*/
